@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    cursor: url('https://raw.githubusercontent.com/GIGIsOtherStuff/GIGIOSmedia/main/Files/other/mouse.png'), auto;
}
/* *{
    border: 1px solid red;
} */